/* 
** Property Ordering **
1) Colors and Typography 
2) Box model
3) Border
4) Positioning
5) Display
6) Other
*/

/********** Agent Post Type **********/
.talkino-contact-details-section {
    background: #f5f5f5;
    border-radius: 5px;
}

.talkino-admin-channel-icon {
    width: 40px;
    padding: 10px 0 0 10px;
}

.talkino-job-title {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 10px 0 10px 10px;
}

.talkino-whatsapp-title {
    font-size: 15px;
    margin-top: 0;
    padding: 0 0 0 10px;
}  

.talkino-whatsapp-prefilled-message-title {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 0 0 10px 10px;
}

.talkino-facebook-title {
    font-size: 14px;
    margin-top: 0;
    padding: 0 0 10px 10px;
}

.talkino-telegram-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 0 10px 10px;
}

.talkino-phone-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 0 10px 10px;
}

.talkino-email-title {
    font-size: 14px;
    margin-top: 0;
    padding: 0 0 10px 10px;
}

.talkino-job-title-input {
    width: 40%;
}

.talkino-whatsapp-input {
    width: 30%;
}

.talkino-whatsapp-prefilled-message-input {
    width: 80%;
}

.talkino-facebook-input {
    width: 40%;
}

.talkino-telegram-input {
    width: 40%;
}

.talkino-phone-input {
    width: 30%;
}

.talkino-email-input {
    width: 40%;
}

@media (max-width: 1024px) {
    .talkino-job-title-input,.talkino-whatsapp-input,.talkino-whatsapp-prefilled-message-input,.talkino-facebook-input,.talkino-telegram-input,.talkino-phone-input,.talkino-email-input {
        width: 90%;
    }
}

/********** Ordering Setting **********/
#talkino_channel_ordering_list, #talkino_agent_ordering_list {
    background-color: #fff;
    width: 200px; 
    border: 1px solid #b2b2b2; 
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 10px 10px 10px 0px;
    padding: 5px 10px 5px 10px;
    list-style: none;
}

li.talkino_lineitem {
    background-color: #7b68ee;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border:1px solid #b2b2b2;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;  
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px 5px 15px 5px;
    height: 1.5em;
    line-height: 1.5em;
    cursor: move;

}   

#talkino_whatsapp {
    background: #47c357;
}

#talkino_facebook {
    background: #1877f2;
}

#talkino_telegram {
    background: #33a8d9;
}

#talkino_phone {
    background: #696969;
}

#talkino_email {
    background: #a9a9a9;
}

.fab.fa-whatsapp.fa-xl.talkino {
    padding: 0 5px 0 5px;
}

.fab.fa-facebook.fa-xl.talkino {
    padding: 0 5px 0 5px;
}

.fab.fa-telegram.fa-xl.talkino {
    padding: 0 5px 0 5px;
}

.fa.fa-phone.fa-lg.talkino {
    padding: 0 5px 0 5px;
}

.fa.fa-envelope.fa-xl.talkino {
    padding: 0 5px 0 5px;
}

.fa.fa-user.fa-xl.talkino {
    padding: 0 5px 0 5px;
}

.talkino_sortable_placeholder{ 
    border: 1px dashed #b2b2b2;
    margin-top: 5px;
    margin-bottom: 5px; 
    padding: 2px 5px 2px 5px;
    height: 1.5em;
    line-height: 1.5em;  
}

/********** Font Awesome Icon Picker **********/
.talkino-fa-browser-container {
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
}

.talkino-fa-browser-container > .talkino-window {
    background: white;
    box-sizing: border-box;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
    position: relative;
    max-width: 800px;
    padding: 1rem;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.talkino-fa-browser-container > .talkino-close {
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 36px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    cursor: pointer;
}

.talkino-fa-browser-container .talkino-icon {
    font-size: 36px;
    text-align: center;
    margin-bottom: 1rem;
    flex: 0 0 10%;
    cursor: pointer
}

.talkino-fa-browser-container .talkino-icon:hover {
    color: #8f8f8f;
}

#talkino-icon-container {
    background: white;
    text-align: center;
    border-style: dashed;
    width: 50px; 
    padding: 10px 0 10px 0;
    margin-bottom: 5px;
    display: block;
    cursor: pointer;
}

#talkino-icon-container:hover {
    background: bottom;
}

.fa-2xl.talkino {
    font-size: 2em;
    line-height: 0.3125em;
}

/* xs */
@media (max-width: 575px){
    .talkino-fa-browser-container .talkino-icon {
        flex: 0 0 20%;   
    }
    .talkino-fa-browser-container > .talkino-close {
        top: .5rem;
        right: .5rem;
    }
}

/********** Extension **********/
.dicsount.talkino {
    color: red;
}

.fs-2.talkino {
    color: #0d6efd;
}

.original-price.talkino {
    text-decoration: line-through;
    color: gray;
}

.card-title.pricing-card-title.talkino {
    color: red;
}

/********** Review **********/
.notice.notice-info.talkino {
    padding-top: 10px;
}

.button.button-secondary.talkino {
    margin-left: 5px;
}