/* 
** Property Ordering **
1) Colors and Typography 
2) Box model
3) Border
4) Positioning
5) Display
6) Other
*/

/********** Chatbox **********/
#check {
    display: none !important;
}

#check:checked~.talkino-chat-close .dashicons.dashicons-minus.talkino-chat-close-btn {
    display: block;
}

#check:checked~.talkino-chat-btn {
    display: none;
}

#check:checked~.talkino-chat-btn .talkino-icon {
    display: none;
}

#check:checked~.talkino-chat-btn .talkino-rectangle-label {
    display: none;
}

#check:checked~.talkino-chat-wrapper {
    display:block;
}

.talkino-chat-btn {
    box-shadow: 0 3px 10px rgba( 0, 0, 0, 0.2 );
    border: none;
    position: fixed;
    cursor: pointer;
}

.talkino-chat-btn .talkino-icon {
    color: #fff;
    left: 50%;
    top: 50%;
    position: absolute;
    transition: all 0.9s ease;
    transform: translate(-50%, -50%);
}

.round.talkino {
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.talkino-chat-btn .talkino-rectangle-label {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    white-space: nowrap;
}

.rectangle.talkino {
    font-size: 23px;
    float: right;
}

label.talkino-chat-btn {
    padding: 0 !important;
    margin-bottom: 0;
}

.talkino-chat-wrapper {
    width: 350px;
    bottom: 30px;
    position: fixed;
    display: none;
    transition: all 0.4s;
    box-shadow: 0 3px 10px rgba( 0, 0, 0, 0.2 );
}

.talkino-chat-title {
    font-size: 25px;
    line-height: 36px;
    height: 45px;
    padding-top: 5px !important;
    padding-left: 15px !important;
}

.talkino-chat-close {
    float: right;
    margin-top: 10px !important;
    margin-right: 10px !important;
    cursor: pointer;
}

.talkino-chat-subtitle {
    font-size: 16px;
    line-height: 20px;
    padding-top: 13px !important;
    padding-left: 15px !important;
    padding-bottom: 5px !important;
    padding-right: 15px !important;
}

.talkino-information-wrapper {
    max-height: 298px;
    overflow-y: auto;
}

.talkino-information-wrapper::-webkit-scrollbar {
    height: 12px;
    width: 5px;
}

.talkino-information-wrapper::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}

.talkino-chat-avatar {
    float: left;
    position: relative;
}

.talkino-chat-avatar img {
    width: 60px;
    float: left;
    margin: 0 10px 0 0 !important;
    border-radius: 100%;
}

.talkino-channel-icon {
    width: 30px !important;
    top: 35px;
    left: 35px;
    position: absolute;
}  

.talkino-notice {
    font-size: 16px;
    text-align: center; 
    margin-top: 25px; 
    margin-bottom: 25px;
}

a.talkino-chat-direct-information, a.talkino-chat-direct-information-offline, 
a.talkino-chat-modern-information, a.talkino-chat-modern-information-offline {
    text-decoration: none !important;
    border-style: solid;
    border-color: darkgray;
    border-radius: 3px;
    border-width: 1px;
    padding: 12px 0 12px 10px !important;
    margin: 10px 10px !important;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

a.talkino-chat-direct-information-offline, a.talkino-chat-modern-information-offline {
    cursor: pointer;
}

.talkino-chat-info span {
    display: block;
    height: 18px;
}

span.talkino-chat-name {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    height: 25px;
}

span.talkino-chat-job-title {
    font-size: 14px;
    line-height: 21px;
}

span.talkino-chat-channel {
    font-size: 14px;
    line-height: 21px;
}

.talkino-footer-wrapper {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    padding-top: 5px !important;
    padding-bottom: 10px !important;
}

.talkino-credit-link, .talkino-credit-link:hover {
    text-decoration: none;
}

@media only screen and ( max-width: 600px ) {
    .talkino-chat-wrapper {
        width: 100%;
        right: 0 !important;
        left: 0 !important;
    }   
}

/********** Modern layout **********/
.talkino-agent-profile-wrapper {
    margin-bottom: 10px;
    max-height: 298px;
    overflow-y: auto;
    display: none;
}

.talkino-agent-bubble-chat-wrapper {
    display: inline-flex;
}

.talkino-back-button {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    line-height: 22px !important; 
    width: 90%;
    height: 50px;
    padding: 13px 0 13px 0 !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: 10px !important;
    border: none !important;
    border-radius: 5px !important;  
    cursor: pointer !important;
    display: none !important;
}

.talkino-talk-bubble {
	margin: 15px 30px !important;
    width: 235px;
    height: auto;
    position: relative;
    display: inline-block;
}

.talkino-talk-bubble.talkino-tri-right.left-top {
    animation: talkino-slide-up 1.5s;
}

/* Right triangle placed top left flush. */
.talkino-tri-right.border.left-top:before {
	content: ' ';
	border: 32px solid;
	width: 0;
	height: 0;
    left: -40px;
	right: auto;
    top: -8px;
	bottom: auto;
    position: absolute;
}

.talkino-tri-right.left-top:after {
	content: ' ';
    border: 22px solid;
	border-color: #f4f4f4 transparent transparent transparent;
	width: 0;
	height: 0;
    left: -20px;
	right: auto;
    top: 0px;
	bottom: auto;
	position: absolute;
}

.talkino-talktext {
    color: #808080;
    font-size: 16px;
    text-align: left;
    line-height: 1.5em;
    padding: 20px 20px !important;
}

.talkino-talktext p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.talkino-agent-profile-avatar img {
    width: 40px;
    border-radius: 100%;
    border-style: solid;
    border-width: thin;
    border-color: white;
    float: left;
    margin: 0 0 0 10px !important;
}

.talkino-agent-profile-channel-icon {
    width: 34px;
    display: inline;
}  

.talkino-hidden-agent-id, .talkino-hidden-full-name, .talkino-hidden-chat-channel-type {
    display: none !important;
}

/********** Reporting **********/
.talkino-hidden-chat-channel-type {
    display: none !important;
}

/********** Animation **********/
@keyframes talkino-fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes talkino-slide-up {
    0%,
    20% {
      transform: translateY( 100% );
      opacity: 0;
    }
     
    40%,
    100% {
      transform: translateY( 0 );
      opacity: 1;
    
    }
}
