/* 
** Property Ordering **
1) Colors and Typography 
2) Box model
3) Border
4) Positioning
5) Display
6) Other
*/

/********** Agent Post Type **********/
.talkino-contact-details-section {
    background: #f5f5f5;
    border-radius: 5px;
}

.talkino-contact-details-section b, .talkino-contact-details-section i, .talkino-contact-details-section label {
    cursor: text;
}

.talkino-admin-channel-icon {
    width: 40px;
    padding: 10px 0 0 10px;
}

.talkino-job-title {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 10px 0 10px 10px;
}

.talkino-welcome-message {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 10px 0 10px 10px;
}

.talkino-whatsapp-title {
    font-size: 15px;
    margin-top: 0;
    padding: 0 0 0 10px;
}  

.talkino-whatsapp-prefilled-message-title {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 0 0 10px 10px;
}

.talkino-messenger-title {
    font-size: 14px;
    margin-top: 0;
    padding: 0 0 10px 10px;
}

.talkino-telegram-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 0 10px 10px;
}

.talkino-phone-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 0 10px 10px;
}

.talkino-email-title {
    font-size: 14px;
    margin-top: 0;
    padding: 0 0 10px 10px;
}

.talkino-job-title-input {
    width: 40%;
}

.talkino-welcome-message-input {
    width: 40%;
}

.talkino-whatsapp-input {
    width: 30%;
}

.talkino-whatsapp-prefilled-message-input {
    width: 80%;
}

.talkino-messenger-input {
    width: 40%;
}

.talkino-telegram-input {
    width: 40%;
}

.talkino-phone-input {
    width: 30%;
}

.show-only-on-mobile-view {
    padding-top: 10px;
}
  
#talkino-phone-show-only-on-mobile-status {
    margin-top: 10px;
}

.talkino-email-input {
    width: 40%;
}

.talkino-options-section p, .talkino-options-section label {
    cursor: text;
}

@media ( max-width: 1024px ) {
    .talkino-job-title-input, .talkino-job-title-input, 
    .talkino-whatsapp-input, .talkino-whatsapp-prefilled-message-input,
    .talkino-messenger-input, .talkino-telegram-input,
    .talkino-phone-input, .talkino-email-input {
        width: 90%;
    }
}

/********** Setting **********/
#talkino-advanced-customization-settings {
    text-decoration: underline;
    cursor: pointer;
}

.talkino-customization-chatbox-section, .talkino-hidden-customization-section {
    display: none;
}

.talkino-settings-spacing {
    margin-bottom: 30px !important;
}

.talkino-setting-description {
    font-style: italic;
    float: left;
    padding-right: 5px;
}

.talkino-tooltip {
    position: relative;
    display: inline-block;
}
  
.talkino-tooltip .talkino-tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: #444242;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
}

.talkino-tooltip-icon {
    width: 15px;
    padding-top: 3px;
    cursor: pointer;
}
  
.talkino-tooltip:hover .talkino-tooltiptext {
    visibility: visible;
}

/********** Ordering Setting **********/
#talkino-channel-ordering-list, #talkino-agent-ordering-list {
    background-color: #fff;
    width: 200px; 
    border: 1px solid #b2b2b2; 
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 10px 10px 10px 0px;
    padding: 5px 10px 5px 10px;
    list-style: none;
}

li.talkino-lineitem {
    background-color: #375da4;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border:1px solid #b2b2b2;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;  
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px 5px 15px 5px;
    height: 1.5em;
    line-height: 1.5em;
    cursor: move;
}   

#talkino-whatsapp {
    background: #47c357;
}

#talkino-messenger {
    background: #195199;;
}

#talkino-telegram {
    background: #059ad9;
}

#talkino-phone {
    background: #474b5e;
}

#talkino-email {
    background: #5e5e5e;
}

.talkino-ordering-icon,.dashicons.dashicons-admin-users.talkino {
    height: 24px;
    float: left;
    padding: 0 5px 0 5px;
}

.talkino-sortable-placeholder{ 
    border: 1px dashed #b2b2b2;
    margin-top: 5px;
    margin-bottom: 5px; 
    padding: 2px 5px 2px 5px;
    height: 1.5em;
    line-height: 1.5em;  
}

/********** Extension **********/
.dicsount.talkino {
    color: red;
}

.fs-2.talkino {
    color: #0d6efd;
}

.row.g-4.py-5.row-cols-1.row-cols-lg-3.talkino {
    padding-bottom: 0 !important;
}

/********** Review **********/
.notice.notice-info.talkino {
    padding-top: 10px;
}

.button.button-secondary.talkino {
    margin-left: 5px;
}